*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(210, 210, 223);
}
.container{
    display: flex;
    /* align-items:center; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.filter{
    background-color: white;
    min-width: 240px;
    height: fit-content;
}
.filter button{
 margin:10px 30px 10px 20px;
 background-color: rgba(69, 200, 69, 0.705);
 border: none;
 border-radius: 5px;
 padding: 8px 18px;
}
.filter button:hover{
    background-color:rgba(13, 134, 13, 0.705);
}
.filter p{
    text-align: center;
}
.row{
    display:flex;
    /* align-items:center; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.data1{

    background-color: white;
    margin:0px 20px 5px 20px;
    flex-basis: 21%;
    /* height: fit-content; */
}
.data1 img{
    display: flex;
  align-items: center;
   
}
footer{
    /* font-size: large; */
    text-align: center;
}